.navbar {
  /* background: linear-gradient(90deg, rgba(48,41,35,255) 0%, rgba(48,41,35,255) 100%); */
  background: transparent !important;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.97rem;
  font-weight: 400;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0px 30px;
}

.navbar-scroll {

  background: linear-gradient(90deg, rgba(48,41,35,255) 0%, rgba(48,41,35,255) 100%);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.97rem;
  font-weight: 400;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0px 30px;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  /* margin-left: 20px; */
  cursor: pointer;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.fa-palette {
  margin-left: 0.5rem;
  font-size: 1.4rem;
}

.nav-menu {
  /* display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 12px;
  list-style-type: none;
  text-align: center;
  width: 900px;
  text-transform: uppercase;
}

.nav-item {
  height: 70px;
  
}

.nav-button{

    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-links {
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  transition: all 0.5s ease-out;
}

 .nav-links::before {

  content: "";
  width: 40%;
  bottom: 15px;
  left: 0;
  height: 3px;
  background-color: #fff;
  margin-left: 10px;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s linear;
}

.nav-links:hover:before {

  transform: scaleX(1);
  transform-origin: left;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}


@media screen and (max-width: 960px) {
  
  .navbar {

    padding: 0px;
  }

  .navbar-scroll {

    padding: 0px;
  }
    .navbar-container {
    position: relative;
  }
  

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 70px;
    /* left: 0; */
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #3d342d;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .nav-item {
    height: 70px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-item:nth-child(4) {
    width: 100%;
  }
  
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    transition: 0.3s ease-in-out;
    /* color: #242424; */
    border-bottom: none;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 35%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-200%, 45%);
    font-size: 1.6rem;
    cursor: pointer;
  }

  /* .btn--outline {

    display: none;
  } */

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 17px;
    background-color: transparent;
    color: #fff;
    padding: 12px 20px;
    width: 150px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}